PROJECT_NAME=Sadaf Mobile API

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
POSTGRES_DB=sadaf_mobile_db

CRM_POSTGRES_USER=sadaf_db_user
CRM_POSTGRES_PASSWORD=strong_password_here
CRM_POSTGRES_HOST=127.0.0.1
CRM_POSTGRES_PORT=5435
CRM_POSTGRES_DB=sadaf_db

DB_POOL_MIN_SIZE=1
DB_POOL_MAX_SIZE=20
CRM_DB_POOL_MIN_SIZE=1
CRM_DB_POOL_MAX_SIZE=10
AUTO_RUN_MIGRATIONS=True

AUTH_SECRET_KEY=change-me

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
MOBILE_OTP_EXPIRE_MINUTES=5
MOBILE_OTP_COOLDOWN_SECONDS=60
MOBILE_OTP_HOURLY_LIMIT=5
MOBILE_OTP_VERIFY_MAX_ATTEMPTS=5
MOBILE_OTP_USE_TEST_CODE=False
MOBILE_OTP_TEST_CODE=111111

SMS_PROVIDER_URL=https://send.smsxabar.uz/broker-api/send
SMS_PROVIDER_LOGIN=change-me
SMS_PROVIDER_PASSWORD=change-me
SMS_PROVIDER_SENDER=SADAF
SMS_PROVIDER_TIMEOUT_SECONDS=10
SMS_PROVIDER_TTL_SECONDS=300
SMS_PROVIDER_MESSAGE_ID_PREFIX=sdf
SMS_ANDROID_APP_HASH=wv349hp3s0f9
FIREBASE_CREDENTIALS_FILE=app/config/firebase-service-account.json
CRM_MEDIA_BASE_URL=https://api.sadaf-clinic.uz/media

DEMO_ACCOUNT_ENABLED=False
DEMO_ACCOUNT_PHONE=+998931059966
DEMO_ACCOUNT_OTP=111111
DEMO_ACCOUNT_DATA_FILE=app/static/demo_account.json

MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

DEBUG=False
